<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Feed</title>
  </head>
  <body>
    <div
      class="w-full h-full px-10 py-3 flex justify-between bg-zinc-800 text-white"
    >
      <h3>Pinterest</h3>
      <div class="flex gap-10 items-center">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a class="px-3 py-2 bg-red-700 text-white rounded-lg" href="/logout"
          >Logout</a
        >
      </div>
    </div>

    <div class="container">
      <% posts.forEach((post)=>{ %>

      <div class="box">
        <a
          href="ttps://oriontralelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg"
        >
          <img src="/images/uploads/<%= post.image %>" alt="image"
        /></a>
        <div class="caption"><%= post.title%></div>
      </div>
      <% }) %>
    </div>
  </body>
  <script src="/javascripts/feed.js"></script>
</html>
